@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-libre-baskerville), serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #0a0a0a;
  color: #d1d1d1;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.9;
}

main {
  max-width: 760px;
  margin: 120px auto;
  padding: 0 24px;
}
